<div class="container">
    <h1 style="text-align: center; font-weight: bold;" class="my-5">
        Empleados
    </h1>
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-end">
        <button (click)="crearEmpleado()" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>

    <app-agregar-empleado
        [empleadoEdit]="empleadoEdit"
        (eventoEditarEmpleado)="modificarEmpleado($event)"
        [nEmpleados]="empleados.length"
        (eventoAgregarEmpleado)="agregarEmpleado($event)">
    </app-agregar-empleado>

    <app-lista-empleados 
        (eventoEditarEmpleado)="editarEmpleado($event)"
        [empleados]="empleados">
    </app-lista-empleados>
</div>