<div class="container">
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-between">
        <h1 style="text-align: center; font-weight: bold;" class="mt-5">
            Empleados
        </h1>
    </div>
    <!-- <div class="d-flex justify-content-end">
    </div> -->
    <div class="card mt-2">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col">
                        <input placeholder="Nombre" class="form-control" [(ngModel)]="txtNombre" type="text"
                            name="nombre" id="nombre">
                    </div>
                    <div class="col">
                        <input placeholder="Apellido" class="form-control" [(ngModel)]="txtApellido" type="text"
                            name="apellido" id="apellido">
                    </div>
                    <div class="col">
                        <input placeholder="Cargo" class="form-control" [(ngModel)]="txtCargo" type="text" name="cargo"
                            id="cargo">
                    </div>
                    <div class="col">
                        <input placeholder="Salario" class="form-control" [(ngModel)]="txtSalario" type="text"
                            name="salario" id="salario">
                    </div>
                    <div class="col">
                        <button placement="top" ngbTooltip="Filtrar" class="btn btn-primary" (click)="buscarEmpleados()"><fa-icon
                                [icon]="faFilter"></fa-icon></button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button (click)="crearEmpleado()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" style="height: 40px;"
                            placement="top" ngbTooltip="Nuevo empleado">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <app-agregar-empleado 
        [empleadoEdit]="empleadoEdit" 
        (eventoEditarEmpleado)="modificarEmpleado($event)"
        [nEmpleados]="maxId" 
        (eventoAgregarEmpleado)="agregarEmpleado($event)">
    </app-agregar-empleado>

    <app-lista-empleados 
        (eventoEliminarEmpleado)="eliminarEmpleado($event)"
        (eventoEditarEmpleado)="editarEmpleado($event)" 
        [empleados]="empleados">
    </app-lista-empleados>
</div>