<div class="card mt-4" style="overflow: auto;">
    <div class="card-header">
        Lista
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Caracteristicas</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td><span [ngClass]="{desarrollador: empleado.cargo == 'Developer'}">{{ empleado.cargo }}</span>
                    </td>
                    <td>${{ formatear(empleado.salario) }}</td>
                    <td>
                        <div class="row">
                            <div class="col-auto">
                                <ul>
                                    <li *ngFor="let caracteristica of empleado.caractetisticas">
                                        {{ caracteristica }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-auto">
                                <app-agregar-caracteristica
                                    (eventoAgregarCaracteristica)="agregarCaracteristica($event)"
                                    [empleadoId]="empleado.id"></app-agregar-caracteristica>
                            </div>
                            <div class="col d-flex">
                                <button placement="top" ngbTooltip="Editar" (click)="editarEmpleado(empleado.id)" type="button"
                                    class="botonTabla btn btn-warning d-block mx-auto mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <fa-icon style="color: white" [icon]="faPen"></fa-icon>
                                </button>
                                <button placement="top" ngbTooltip="Eliminar" (click)="eliminarEmpleado(empleado.id)" type="button"
                                    class="botonTabla btn btn-danger d-block mx-auto mt-2">
                                    <fa-icon style="color: white" [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>