/* You can add global styles to this file, and also import other style files */
.desarrollador {
    color: rgb(0, 163, 192);
    font-weight: bold;
}

.botonTabla {
    border-radius: 50% !important; 
    width: 42px; 
    height: 42px;
}